img {
  width: 90%;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 50%;
}
.textStyle {
  padding-top: 25px;
}
.cardStyle {
  border-style: solid;
  border-radius: 20px;
  border-color: #a7adb2;
  background-color: #a8b4b7
}

.buffer {
  padding: 20px;
}
