.nav-link {
  text-decoration: none;
  color: #f0ffff !important;
  margin-bottom: 0px;
}

.active {
  color: black !important;
}

@media only screen and (max-width: 800px) {
  li {
    font-size: "10px";
  }
}
